<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire+Sparks-Sheet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{864,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{960,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1056,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1152,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1248,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1344,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1440,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1536,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1632,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1728,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{96,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{192,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{288,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{384,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{480,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{576,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{672,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire+Sparks-Sheet_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{768,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{1824,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f2ac2b56684a7e92dbf3b5020dbdd91:32ccf0e8715d636734c832bbd783f9fd:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
